
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 <style>
.vl {
  border-left: 0.1vw dotted black;
  margin-left: 30px;
}
.dates {
  font-size:90%;
  margin-top:0px;
  margin-bottom:10px;
  margin-left:30px;
}
</style>


{% if site.data.gigs == false %}

Pas de concert en vue, mais ne vous inquiétez pas, nous revenons bientôt !

{% else %}
<div class="vl">
  <div class="w3-container" style="max-width:800px;margin-left:20px;">
    {% for item in site.data.gigs %}
          <h8> {{ item.date }}</h8>
          <p class="dates">
          {% if item.url %}
            <a href="{{ item.url }}"> <b>{{ item.place }}</b></a>
          {% else %}
            <b>{{ item.place }}</b>
          {% endif %}
          <br>
          <i>{{ item.adress }}</i>
          <br>
        </p>
     {% endfor %}
  </div>
</div>
{% endif %}
