<div class="w3-top">
  <div class="w3-bar w3-card-2" style="height:60px; background-color:#006699;">
  <a class="w3-bar-item w3-border w3-light-grey w3-button w3-card" href="#home" style="height:80%; margin-top:0.4%; margin-left:2.5%; margin-right:1%; border-radius: 10px; width:18%; text-align: center; padding: 5px 10px;font-size:22px">
  Home
  </a>
   &nbsp &nbsp &nbsp
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#band" style="height:80%; width:18%;margin-top:0.4%; margin-right:1%; border-radius: 10px;text-align: center; padding: 5px 16px;font-size:22px">
    A propos
  </a>
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#music" style="height:80%; width:18%;margin-top:0.4%; margin-right:1%; border-radius: 10px;text-align: center; padding: 5px 16px;font-size:22px">
    Musique
  </a>
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#dates" style="height:80%; width:18%;margin-top:0.4%; margin-right:1%; border-radius: 10px;text-align: center;padding: 5px 16px;font-size:22px">
    Dates concerts
  </a>
  <a class="w3-bar-item w3-border w3-light-grey  w3-button" href="#contact" style="height:80%; width:18%;margin-top:0.4%; margin-right:1%; border-radius: 10px;text-align: center;padding: 5px 16px;font-size:22px">
    Contact
  </a>
</div>
</div>
