<div class="w3-top">
  <div class="w3-bar w3-border w3-card-2 w3-light-grey" style="height:50px">
  <a class="w3-bar-item w3-border w3-light-grey w3-button w3-card" href="#home" style="height:100%; width:20%; text-align: center; padding: 5px 16px;font-size:22px">
  Home
  </a>
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#band" style="height:100%; width:20%; text-align: center; padding: 5px 16px;font-size:22px">
    About
  </a>
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#music" style="height:100%; width:20%; text-align: center; padding: 5px 16px;font-size:22px">
    Music
  </a>
  <a class="w3-bar-item w3-border w3-light-grey w3-button" href="#dates" style="height:100%; width:20%; text-align: center;padding: 5px 16px;font-size:22px">
    Coming concerts
  </a>
  <a class="w3-bar-item w3-border w3-light-grey  w3-button" href="#contact" style="height:100%; width:20%; text-align: center;padding: 5px 16px;font-size:22px">
    Contact
  </a>
</div>
</div>
